*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background-color: #131426;
  text-align: center;
}

#work {
  background-color: #fff;
  height: 875px;
}

#bio {
  padding-top: 50px;
  height: 875px;
}

#bio h1 {
  text-align: left;
  font-weight: 100;
  color: #fff;
}

.stick {
  position: fixed;
  top: 0;
}

.circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../img/bowtie.jpg);
  background-position-x: 90%;
  background-position-y: -30;
}

#intro {
  padding-top: 10%;
  background-color: transparent;
}

.name {
  color: #fff;
}

.navbar-brand {
  font-family: 'Rock Salt', cursive;
}

.navbar-splash {
  background-color: transparent;
  border: none;
}

.navbar-main {
  background-color: #fff;
  border-bottom: 5px solid rgba(0,0,0,0.12);
}

.navbar-main .navbar-brand {
  color: #ccc;
}

.navbar-main .navbar-nav > li > a {
  color: #ccc;
  font-weight: 200;
}

.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #2fbfbf;
  font-weight: 200;
}

#nav-links {
  padding-right: 50px;
}


.splash {
  height: 875px;
  width: 100%;
  background-image: url(../../img/cuban_car.jpg);
  background-size: cover;
}

.content {
  padding-top: 50px;
  height: 500px;
}

.carousel-control.right {
  padding-left: 99px;
  padding-top: 170px;
  background-image: none;
}

.carousel-control.left {
  padding-right: 170px;
  padding-top: 170px;
  background-image: none;
}

.full-rect {
  height: 568px;
  width: 284px;
  float: left;
}

.lrg-rect {
  height: 426px;
  width: 284px;
  float: left;
}

.sm-rect {
  height: 142px;
  width: 284px;
  float: left;
}

.lrg-square {
  height: 284px;
  width: 284px;
  float: left;
}

.sm-square {
  height: 142px;
  width: 142px;
  float: left;
}

#me {
  background-color: #2fbfbf;
}

#salutations {
  position: relative;
  top: 142px;
  background-color: #e74c2e;
}

#an-aspiring {
  position: relative;
  top: 284px;
  right: 284px;
  background-color: #3078c0;
}

#technologies {
  position: relative;
  right: 284px;
  background-color: #203880;
}

#twitter {
  position: relative;
  left: 710px;
  bottom: 284px;
  background-color: #b31b28;
}

#wdi {
  position: relative;
  left: 426px;
  bottom: 142px;
  background-color: #f2c230;
}

#me-too {
  background-color: #2fbfbf;
  background-size: cover;
  background-position: -240px;
}

#interests {
  background-color: #3078c0;
}

#linked-in {
  position: relative;
  top: 426px;
  right: 142px;
  background-color: #e74c2e;
}

#method {
  position: relative;
  right: 142px;
  top: 142px;
  background-color: #203880;
}

#bugs-joke {
  background-color: #f2c230;
  position: relative;
  left: 284px;
  bottom: 284px;
}

#bio-rectangles {
  position: relative;
  left: 25%;
}

.md-rect {
  height: 300px;
  width: 150px;
  float: left;
}

#one {
  background-color: #3078c0;
}

#two {
background-color: #e74c2e;
}

#three {
background-color: #203880;
}

#four {
  background-color: #f2c230;
}